{:deps {org.clojure/clojure             {:mvn/version "1.10.1"}
        org.martinklepsch/clj-http-lite {:mvn/version "0.4.3"}
        cheshire                        {:mvn/version "5.10.0"}
        hickory                         {:mvn/version "0.7.1"}
        semantic-csv                    {:mvn/version "0.2.0"}
        ring/ring-codec                 {:mvn/version "1.1.2"}}

 :aliases {:native-image
           {:main-opts ["-m clj.native-image core"
                        "--report-unsupported-elements-at-runtime"
                        "--initialize-at-build-time"
                        ;; Allow https get
                        "-H:EnableURLProtocols=https"
                        ;; Display backtraces
                        "-H:+ReportExceptionStackTraces"
                        ;; Optional native image name override
                        "-H:Name=sill-plus-wikidata"]
            :jvm-opts  ["-Dclojure.compiler.direct-linking=true"]
            :extra-deps
            {clj.native-image
             {:git/url "https://github.com/taylorwood/clj.native-image.git"
              :sha     "7708e7fd4572459c81f6a6b8e44c96f41cdd92d4"}}}}}
